.elementor-109 .elementor-element.elementor-element-990baf9{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:35px;--padding-right:35px;}.elementor-109 .elementor-element.elementor-element-45ea7bb{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:24px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-6d788d6{animation-duration:1600ms;animation-delay:600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);max-width:700px;text-align:left;}.elementor-109 .elementor-element.elementor-element-6d788d6 > .elementor-widget-container{margin:0px 0px 23px 0px;}.elementor-109 .elementor-element.elementor-element-6d788d6 .elementor-heading-title{font-size:48px;font-weight:700;line-height:58px;color:var( --e-global-color-text );}.elementor-109 .elementor-element.elementor-element-6d733c9{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:35px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:35px;--padding-right:35px;}.elementor-109 .elementor-element.elementor-element-7dec6c5{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b{animation-duration:1800ms;animation-delay:800ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);text-align:left;}.elementor-109 .elementor-element.elementor-element-cb12f1b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-media img{border-radius:0px 0px 0px 0px !important;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title a{color:var( --e-global-color-text );font-size:24px;font-weight:600;line-height:32px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title{margin-bottom:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-content{color:#000000B3;font-size:18px;font-weight:400;line-height:22.68px;margin-bottom:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .column-entry{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .type-post .entry-main{padding:46px 14px 39px 40px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-meta .aux-read-more{color:var( --e-global-color-primary );font-size:16px;font-weight:400;text-transform:uppercase;line-height:19.36px;padding:5px 0px 27px 0px;}@media(min-width:768px){.elementor-109 .elementor-element.elementor-element-990baf9{--content-width:1400px;}.elementor-109 .elementor-element.elementor-element-6d733c9{--content-width:1400px;}}@media(max-width:1024px){.elementor-109 .elementor-element.elementor-element-990baf9{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-6d788d6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-6d733c9{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .column-entry{padding:2px 2px 2px 2px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .type-post .entry-main{padding:46px 14px 39px 40px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-meta .aux-read-more{padding:10px 0px 20px 0px;}}@media(max-width:767px){.elementor-109 .elementor-element.elementor-element-45ea7bb{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-6d788d6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-6d788d6 .elementor-heading-title{font-size:42px;}.elementor-109 .elementor-element.elementor-element-6d733c9{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title a{font-size:18px;line-height:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title{margin-bottom:0px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-content{font-size:15px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .column-entry{padding:0% 0% 0% 0%;}.elementor-109 .elementor-element.elementor-element-cb12f1b .type-post .entry-main{padding:97px 14px 0px 20px;}.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-meta .aux-read-more{font-size:14px;padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-6d788d6 */.elementor-109 .elementor-element.elementor-element-6d788d6 span{
    color: var( --e-global-color-primary );
}
.elementor-109 .elementor-element.elementor-element-6d788d6{
    max-width: 700px!important;
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-cb12f1b */.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-info{
    display: none;
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-read-more-text{
    display: none;
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-read-more::after,.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-post-nav::after {
    content: 'LEARN MORE ABOUT  \2192';
    margin-left: 0;
    transition: all 0.3s;
    
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-read-more:hover::after,.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-post-nav:hover::after {
    color:var( --e-global-color-text );
}

/*//////*/
.elementor-109 .elementor-element.elementor-element-cb12f1b img{
   -webkit-mask-image: url(https://learnplus.pro/wp-content/uploads/2022/12/Vector_32.svg);

      -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    z-index: 7;
    width: -moz-available;
    width: 100%;
   
    
}

.elementor-109 .elementor-element.elementor-element-cb12f1b article:hover .entry-main{
       filter: drop-shadow(11px 10px   var( --e-global-color-primary ));
       z-index: -1;
       
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main {
    background-image: url(https://learnplus.pro/wp-content/uploads/2022/12/Vector_32_1.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
 
     background-size:100%;
      margin-top: -42px;
    min-height:316.08px!important;
 transition: all 0.3s;
   
}


.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-load-more svg{
    display: none;
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-load-more{
   
    border-radius: 0;
    width: 199px;
    height: 60px;
    background-color: black;
    transition:all 1s;
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-load-more:hover{
    background: var( --e-global-color-primary );
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-label-text, .elementor-109 .elementor-element.elementor-element-cb12f1b .aux-loading-label{
    line-height: 19px!important;
    padding: 8% 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
color:white;

}

.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-label-text:after {
    content: '\2192';
    padding-left: 20px;
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
.elementor-109 .elementor-element.elementor-element-cb12f1b  .entry-media{
    margin-bottom: 0;
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main:hover{
       filter:none;

}

}

@media only screen and (max-width: 600px) {
.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main {
    margin-top: -92px; 
}
}


@media (min-width: 1366px) and (max-width:1440px){
    .elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main {
    margin-top: -67px; 
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main {
    padding: 50px 14px 39px 20px!important;
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title a {
    font-size:20px;
}
}
   

@media (min-width: 1025px) and (max-width:1365px){
.elementor-109 .elementor-element.elementor-element-cb12f1b  .type-post .entry-main {
    padding: 98px 5px 0px 10px;
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-main {
    margin-top: -127px;
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-title a {
    font-size: 18px;
    line-height: 10px;
}

.elementor-109 .elementor-element.elementor-element-cb12f1b .entry-content {
    font-size: 14px;
    line-height: 20px;
}
.elementor-109 .elementor-element.elementor-element-cb12f1b .aux-match-height .post {
    height: 100%;
}

}/* End custom CSS */